<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Exercicio 01</title>
  </head>
  <body>
    <div id="app">
    <h1>Exercício</h1>
    <h2>Alerta com VUE</h2>
    <button @click="alterarValor">ALERTA ALERTA ALERTA</button>
    <hr />
    <h2>Imagem com VUE</h2>
    <img v-bind:src="suica"/>

    <hr />
    <h1>Desafios</h1>
    <!-- Adicione uma classe CSS a um elemento usando o Vue. Use a sintaxe <div v-bind:class="nomeDaClasse">Elemento com classe</div> e defina a variável nomeDaClasse no Vue.-->
    <h2>Classe CSS</h2>
    <div v-bind:class="classeCSS">Elemento com classe</div>
    <hr />
    <!-- DESAFIO -->
    <!-- Mostre ou esconda um elemento usando o Vue. Use a sintaxe <div v-if="mostrar">Elemento a ser mostrado/ocultado</div> e defina a variável mostrar no Vue -->
    <h2>Mostre ou esconda</h2>
    <button @click="toggleMostrar">Mostrar/Esconder</button>
    <div v-if="mostrar">
      <p>Este é o elemento a ser mostrado/ocultado.</p>
    </div>
    </div>
  </body>
</html>


<script>
    const {createApp } = Vue;
    
    createApp({
        data() {
            return {
                caixaTexto: "",
                suica: ["https://media.timeout.com/images/105875572/750/562/image.jpg", alt="Suiça", width="400px"] 
            }
        },
        methods: {
            alterarValor: function () {
                this.titulo = this.caixaTexto;
                this.caixaTexto = "É só um botão de alerta mesmo!!!! :P"
            },
        
        }

    }).mount("#app");
</script>