<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 04 - V-bind e v-on</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>Trabalhando com {{ titulo }}</h1>
        <a :href="link">Google</a>
        <h1>Trabalhando com V-on</h1>
        <input type="text" v-label="titulo">
        <button @click="alterarValor">Enviar</button>
        <span>{{ titulo }}</span>
        <h1>Soma</h1>
        <p>Numero 1</p>
        <input type="text" v-model="numero1">
        <p>Numero 2</p>
        <input type="text" v-model="numero2">
        
        <button @click="soma">Somar</button>
        <br>
        <span>O resultado da soma é {{ resultado }}</span>
        


    </div>
</body>
</html>


<script>
    const {createApp } = Vue;
    
    createApp({
        data() {
            return {
                titulo: "Links",
                link: "https://google.com",
                caixaTexto: "",
                numero1: 0,
                numero2:0,
                resultado:0

            }
        },
        methods: {
            alterarValor: function () {
                this.titulo = this.caixaTexto;
                this.caixaTexto = "Parabens voce atualizou os dados"
            },
            soma:function (){
                this.resultado = parseInt(this.numero1) + parseInt(this.numero2)
            }
        }

    }).mount("#app");
</script>